<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset='utf-8'>
    <title>EBC Court Sign Up</title>
    <style>
        .tablewidth {
            width: 25%;
        }

        .tableheight{
            height: 300px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="height: 100vh">
    <nav class="navbar navbar-light bg-light justify-content-between border-bottom">
        <h2 class="">Elite Badminton Center</h2>
        <div class="d-inline">
            <a href="/admin">Admin</a>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li class=text-danger>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div class="p-4 h-100">
        <header>
            <p>Current Time: <span id="clock"></span></p>
            <h3>Note: If you checked in and your name does not appear on the list, please refresh the page by clicking this link! <a href='/'>Refresh Page</a></h3>
        </header>
        <div class="container-fluid h-100">
            <div class="row" style="height: 30%">
                {% for i in range(1, courts_test|length + 1) %}
                    <div class="col border p-3">
                        <h3 class="text-center px-2">COURT {{i}}</h3>
                        <div>
                            <div class="row">
                                <span hidden class="end_time" id="end_time_{{i}}">{{ courts_test[ 'court' ~ i ]['current']['end_time'] }}</span>
                                <!--<p class="col">Time Start: <span class="start_time font-weight-bold" id="start_time_{{i}}">{{ courts_test[ 'court' ~ i ]['current']['start_time'] }}</span></p>-->
                                <p class="col">Time Remaining: <span class=" font-weight-bold" id="time_remaining_{{i}}" value="{{ courts_test[ 'court' ~ i ]['current']['end_time'] }}"></span></p>
                            </div>
                            <div class="row">
                                <div class="col">
                                <p class="font-weight-bold">On Court:</p>
                                <ul class="pl-3">
                                {% for current_next, court_info in courts_test[ 'court' ~ i ].items() %}
                                    {% if current_next == 'next' %}
                                            </ul>
                                        </div>
                                        <div class="col">
                                        <p class="font-weight-bold">Up Next:</p>
                                        <ul class="pl-3">
                                    {% endif %}
                                    {% if current_next == 'nextnext' %}
                                            </ul>
                                        </div>
                                        <div class="col">
                                        <p class="font-weight-bold">Up Next 2:</p>
                                        <ul class="pl-3">
                                    {% endif %}
                                    {% for player in court_info['players'] %}
                                        <li>{{ player }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if i == (courts_test|length)//2 %}
                        </div>
                        <div class="row" style="height: 30%">
                    {% endif %}
                {% endfor %}
                </div>


            <div class="row pt-2" style="height: 30%">
                <form class="col" action="/addUserToCourt" method="post" style="display:inline-block">
                    <h2>Sign up for a court</h2>
                    <p>
                        <label for="personNameAdd">Name:</label>
                        <select id="personNameAdd" name="personNameAdd" required>
                            {% for user in names_of_users%}
                                <option value="{{user}}">{{user}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="courtNum">Enter Court Number from 1-8:</label>
                        <select id="courtNum" name="courtNum">
                            <option value="court1">1</option>
                            <option value="court2">2</option>
                            <option value="court3">3</option>
                            <option value="court4">4</option>
                            <option value="court5">5</option>
                            <option value="court6">6</option>
                            <option value="court7">7</option>
                            <option value="court8">8</option>
                        </select>
                    </p>
                    <p>
                        <label for="current_or_next">Choose to be on court now or up next: </label>
                        <select id="current_or_next" name="current_or_next">
                            <option value="current">Current</option>
                            <option value="next">Next On</option>
                            <option value="nextnext">Next Next On</option>
                        </select>
                    </p>
                    <p>
                        <label for="userPinAdd">Enter Pin:</label>
                        <input type="password" id="userPinAdd" name="userPinAdd" required>
                    </p>
                    <input type="submit" class="btn btn-primary">
                </form>
    
                <form class="col" action="/removeUserFromCourt" method="post">
                    <h2>Remove yourself from a court</h2>
                    <p>
                        <label for="personNameRemove">Name:</label>
                        <select id="personNameRemove" name="personNameRemove" required>
                            {% for person in onCourtUsers%}
                                <option value="{{person}}">{{person}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="userPinRemove">Password:</label>
                        <input type="password" id="userPinRemove" name="userPinRemove" required>
                    </p>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>

    <!--Not sure if the two forms need unique id for names and passwords-->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>