<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset='utf-8'>
    <title>EBC Court Sign Up</title>
    <style>
        .tablewidth {
            width: 25%;
        }

        .tableheight{
            height: 300px;
        }

        .reserved{
            background-color: gray;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="height: 100vh">
    <nav class="navbar navbar-light bg-light justify-content-between border-bottom">
        <h2 class="">Elite Badminton Center</h2>
        <div class="d-inline">
            <a href="/admin" class="px-3">Admin</a>
        </div>

    </nav>
    <div class="p-4 h-100">
        <header>
            <p>Current Time: <span id="clock"></span></p>
            <h3>Note: If you checked in and your name does not appear on the list, please refresh the page by clicking this link! <a href='/'>Refresh Page</a></h3>
        </header>
        <div class="container-fluid h-100">
            <div class="row" style="height: 30%">
                {% for i in range(1, courts_test|length + 1) %}

                    <div class="col border p-3 {{'reserved' if courts_test['court' ~ i]['current']['reserved']}}">
                        <h3 class="text-center px-2">COURT {{i}}</h3>
                        <div>
                            <div class="row">
                                <span hidden class="end_time" id="end_time_{{i}}">{{ courts_test[ 'court' ~ i ]['current']['end_time'] }}</span>
                                <!--<p class="col">Time Start: <span class="start_time font-weight-bold" id="start_time_{{i}}">{{ courts_test[ 'court' ~ i ]['current']['start_time'] }}</span></p>-->
                                <p class="col text-danger">Time Remaining: <span class=" font-weight-bold text-danger" id="time_remaining_{{i}}" value="{{ courts_test[ 'court' ~ i ]['current']['end_time'] }}"></span></p>
                            </div>
                            <div class="row">
                                <div class="col">
                                <p class="font-weight-bold">On Court:</p>
                                <ul class="pl-3">
                                {% for current_next, court_info in courts_test[ 'court' ~ i ].items() %}
                                    {% if current_next == 'next' %}
                                            </ul>
                                        </div>
                                        <div class="col">
                                        <p class="font-weight-bold">Up Next:</p>
                                        <ul class="pl-3">
                                    {% endif %}
                                    {% if current_next == 'nextnext' %}
                                            </ul>
                                        </div>
                                        <div class="col">
                                        <p class="font-weight-bold">Up Next 2:</p>
                                        <ul class="pl-3">
                                    {% endif %}
                                    {% for player in court_info['players'] %}
                                        <li>{{ player }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if i == (courts_test|length)//2 %}
                        </div>
                        <div class="row" style="height: 30%">
                    {% endif %}
                {% endfor %}
                </div>


            <div class="row pt-2" style="height: 30%">
                <form class="col" action="/addUserToCourt" method="post" style="display:inline-block">
                    <h2>Sign up for a court</h2>
                    {% with messages = get_flashed_messages(category_filter=["adderror"]) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li class=text-danger>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                    <p>
                        <label for="personNameAdd">Name:</label>
                        <select id="personNameAdd" name="personNameAdd" required>
                            {% for user in names_of_users%}
                                <option value="{{user}}">{{user}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <div class="mb-3"> 
                        <div class="form-check form-check-inline">
                            <label>Select Court Number:</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioCourt1" name="courtNum" value="court1" checked>
                                <label class="form-check-label" for="radioCourt1">1</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioCourt2" name="courtNum" value="court2">
                                <label class="form-check-label" for="radioCourt2">2</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioCourt3" name="courtNum" value="court3">
                                <label class="form-check-label" for="radioCourt3">3</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioCourt4" name="courtNum" value="court4">
                                <label class="form-check-label" for="radioCourt4">4</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioCourt5" name="courtNum" value="court5">
                                <label class="form-check-label" for="radioCourt5">5</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioCourt6" name="courtNum" value="court6">
                                <label class="form-check-label" for="radioCourt6">6</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioCourt7" name="courtNum" value="court7">
                                <label class="form-check-label" for="radioCourt7">7</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioCourt8" name="courtNum" value="court8">
                                <label class="form-check-label" for="radioCourt8">8</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-check-inline">
                            <label>Choose to be on court now or up next: </label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioCurrent" name="current_or_next" value="current" checked>
                                <label class="form-check-label" for="radioCurrent">Current</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioNext" name="current_or_next" value="next">
                                <label class="form-check-label" for="radioNext">Next On</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radioNextNExt" name="current_or_next" value="nextnext">
                                <label class="form-check-label" for="radioNextNext">Next Next On</label>
                            </div>
                        </div>
                    </div>
                    <p>
                        <label for="userPinAdd">Enter Pin:</label>
                        <input type="number" id="userPinAdd" name="userPinAdd" required>
                    </p>
                    <input type="submit" class="btn btn-primary">
                </form>
    
                <form class="col" action="/removeUserFromCourt" method="post">
                    <h2>Remove yourself from a court</h2>
                    {% with messages = get_flashed_messages(category_filter=["removeerror"]) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li class=text-danger>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                    <p>
                        <label for="personNameRemove">Name:</label>
                        <select id="personNameRemove" name="personNameRemove" required>
                            {% for person in onCourtUsers%}
                                <option value="{{person}}">{{person}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="userPinRemove">Password:</label>
                        <input type="number" id="userPinRemove" name="userPinRemove" required>
                    </p>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
        <hr>
        <div class="p-1">
            <div class="container row mb-3 justify-content-start">
                <div class="col-6">
                    <div class="row justify-content-start">
                        <div class="col-4 px-3">
                            <h3 class="">Champs</h3>
                            {% if challenge["listofplayers"][0]%}
                            <p class="text-success">{{challenge["listofplayers"][0][0]}} and {{challenge["listofplayers"][0][1]}}</p>
                            <p class="text-success">Winner's Streak: {{challenge["streak"]}}</p>
                            {% endif %}
                        </div>
                        <div class="col-4">
                            <h3>Challengers</h3>
                            {% if challenge["listofplayers"][1]%}
                            <p class="text-success">{{challenge["listofplayers"][1][0]}} and {{challenge["listofplayers"][1][1]}}</p> 
                            {% endif %}
                        </div>
                        
                    </div>
                    <form class="form-group" action="/champswon" method="post">
                        <h3>Who won this match?</h3>
                        {% with messages = get_flashed_messages(category_filter=["challengewinnererror"]) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                                <li class=text-danger>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                        <input type="submit" value="Champs" class="btn btn-primary">
                        <input type="submit" value="Challengers" class="btn btn-success" formaction="/challengerswon">
                        <input type="submit" value="Champs Retired" class="btn btn-danger" formaction="/champsretire">
                    </form>
                </div>
                <div class="col-4">
                    <h3>Challenge Court List</h3>
                    <ol>
                        {%for i in range(2, challenge["listofplayers"]|length)%}
                            <li class="text-success">{{challenge["listofplayers"][i][0]}} and {{challenge["listofplayers"][i][1]}}</li>
                        {%endfor%}
                    </ol>
                </div>
            </div>
            <br>

            <div class="row justify-content-start px-3">
                <form class="form-group col-4" action="/addtochallengecourt" method="post">
                    <h3>Challenge Court Sign Up</h3>
                    {% with messages = get_flashed_messages(category_filter=["challengeerror"]) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li class=text-danger>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                    <label for="player1">Select Player 1:</label>
                    <select id="player1" name="player1" required>
                        {% for user in names_of_users%}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="player1pin">Enter Player 1's Pin:</label>
                    <input type="number" id="player1pin" name="player1pin" required><br>
                    <label for="player2">Select Player 2:</label>
                    <select id="player2" name="player2" required>
                        {% for user in names_of_users%}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="player2pin">Enter Player 2's Pin:</label>
                    <input type="number" id="player2pin" name="player2pin" required><br>
                    <input type="submit" class="btn btn-primary">
                </form>
                <form class="form-group col-4" action="/substituteplayer" method="post">
                    <h3>Partner Swap</h3>
                    {% with messages = get_flashed_messages(category_filter=["challengesuberror"]) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li class=text-danger>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                    <label for="oldplayer">Select Player to Substitute:</label>
                    <select id="oldplayer" name="oldplayer" required>
                        {% for user in playerslist%}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="oldplayerpin">Enter Subbed Out Player's Pin:</label>
                    <input type="number" id="oldplayerpin" name="oldplayerpin" required><br>
                    <label for="newplayer">Select a New Player:</label>
                    <select id="newplayer" name="newplayer" required>
                        {% for user in names_of_users%}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="newplayerpin">Enter New Player's Pin:</label>
                    <input type="number" id="newplayerpin" name="newplayerpin" required><br>
                    <input type="submit" class="btn btn-primary">
                </form>
                <form class="form-group col-4" action="/deletepair" method="post">
                    <h3>Remove Entire Pair from List</h3>
                    {% with messages = get_flashed_messages(category_filter=["challengedeleteerror"]) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li class=text-danger>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                    <label for="player1">Select Player 1's Name:</label>
                    <select id="player1" name="player1" required>
                        {% for user in playerslist%}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="player1pin">Enter Player 1's Pin:</label>
                    <input type="number" id="player1pin" name="player1pin" required><br>
                    <label for="player2">Select Player 2's Name:</label>
                    <select id="player2" name="player2" required>
                        {% for user in playerslist%}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="player2pin">Enter Player 2's Pin:</label>
                    <input type="number" id="player2pin" name="player2pin" required><br>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    <!--Not sure if the two forms need unique id for names and passwords-->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>