<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset='utf-8'>
    <title>EBC Court Sign Up</title>
    <style>
        .tablewidth {
            width: 25%;
        }

        .tableheight{
            height: 300px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between border-bottom">
        <h2 class="">ELite Badminton Center</h2>
        <div class="d-inline">
            <a href="/loginpage">Admin Login</a>
        </div>
    </nav>
    <header>Current Time: <span id="clock"></span></header>
    <div class="container-fluid row">
        {% for i in range(1, courts_test|length + 1) %}
        <table class="tablewidth tableheight">
            {%if i==5 %}
            <div class="w-100"></div>
            {% endif %}  
            <tr>
                <th>Court {{i}}</th>
                <th>Time Start: <span class="start_time" id="start_time_{{i}}">{{ courts_test[ 'court' ~ i ]['current']['start_time'] }}</span></th>
                <th>Time Remaining: <span id="time_remaining_{{i}}"></span></th>
            </tr>
            <tr>
                
            </tr>
            <tbody>
                <tr><th>On Court:</th></tr>
                {% for current_next, court_info in courts_test[ 'court' ~ i ].items() %}
                {% if current_next == 'next' %}
                    <tr><th>Up Next: </th></tr>
                    
                {% endif %}
                {% for player in court_info['players'] %}
                    <tr><td>{{ player }}</td></tr>
                {% endfor %}
            {% endfor %}
            </tbody>

        </table>
    {% endfor %}
    </div>


    <div style="display:flex; justify-content:space-around">
        <form action="/addUserToCourt" method="post" style="display:inline-block">
            <h2>Sign up for a court</h2>
            <p>
                <label for="personNameAdd">Name:</label>
                <select id="personNameAdd" name="personNameAdd" required>
                    {% for user in names_of_users%}
                        <option value="{{user}}">{{user}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="courtNum">Enter Court Number from 1-8:</label>
                <select id="courtNum" name="courtNum">
                    <option value="court1">1</option>
                    <option value="court2">2</option>
                    <option value="court3">3</option>
                    <option value="court4">4</option>
                    <option value="court5">5</option>
                    <option value="court6">6</option>
                    <option value="court7">7</option>
                    <option value="court8">8</option>
                </select>
            </p>
            <p>
                <label for="current_or_next">Choose to be on court now or up next: </label>
                <select id="current_or_next" name="current_or_next">
                    <option value="current">Current</option>
                    <option value="next">Next On</option>
                </select>
            </p>
            <p>
                <label for="userPinAdd">Enter Pin:</label>
                <input type="password" id="userPinAdd" name="userPinAdd" required>
            </p>
            <input type="submit">
        </form>

        <form action="/removeUserFromCourt" method="post"  style="display:inline-block; vertical-align:top">
            <h2>Remove yourself from a court</h2>
            <p>
                <label for="personNameRemove">Name:</label>
                <select id="personNameRemove" name="personNameRemove" required>
                    {% for person in onCourtUsers%}
                        <option value="{{person}}">{{person}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="userPinRemove">Password:</label>
                <input type="password" id="userPinRemove" name="userPinRemove">
            </p>
            <input type="submit">
        </form>
    </div>
    <!--Not sure if the two forms need unique id for names and passwords-->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>